<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        About
    </div>


</ul>


<div class="hero-unit">
    <h1>Wer ist waldorf?</h1>
    <p>This super amazing experience is brought to you by TomasDePomas</p>
    <p><a href="http://www.cell-0.com" class="btn btn-primary btn-large">Learn more</a></p>
</div>