<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <a class="max">&#x25B2;</a>
        <a class="min">&#x25BC;</a>
        <span class="windowTitle">Window</span>
        <div class="navbar-inner">
            <a class="option" href="#">Cell[0]</a>
            <a class="option" href="#">Terminal</a>
            <a class="option" href="#">About</a>
        </div>
    </div>
</ul>