<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <span class="windowTitle">Window</span>
        <div class="navbar-inner">
        </div>
    </div>


</ul>


<div class="dail-container">

    <div class="alert alert-danger"
         id="numberDailed"
         contenteditable
         style="min-height: 56px;">
    </div>


    <table style="height: 96px;
                  margin: auto auto 32px;">
        <tr>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(1)"
                   onmouseup="AudioCore.stopTones()">1.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(2)"
                   onmouseup="AudioCore.stopTones()">2.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(3)"
                   onmouseup="AudioCore.stopTones()">3.</a></td>
        </tr>
        <tr>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(4)"
                   onmouseup="AudioCore.stopTones()">4.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(5)"
                   onmouseup="AudioCore.stopTones()">5.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(6)"
                   onmouseup="AudioCore.stopTones()">6.</a></td>
        </tr>
        <tr>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(7)"
                   onmouseup="AudioCore.stopTones()">7.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(8)"
                   onmouseup="AudioCore.stopTones()">8.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(9)"
                   onmouseup="AudioCore.stopTones()">9.</a></td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-large btn-primary"
                   onmousedown="clearDailer()"
                   onmouseup="AudioCore.stopTones()">C.</a></td>
            </td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="dailNumber(0)"
                   onmouseup="AudioCore.stopTones()">0.</a></td>
            <td><a class="btn btn-large btn-primary"
                   onmousedown="placeCall()"
                   onmouseup="AudioCore.stopTones()">-></a>
            </td>
        </tr>
    </table>

    <div id="phone_message_container"
         style="">
        <textarea placeholder="Use this area to transmit the name of who you are calling, descriptions or numbers"
                  name="phoneMessage"></textarea>
    </div>
</div>