<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <span class="windowTitle">Electronic Banking System</span>
    </div>
</ul>

<div style="max-height: 430px;
                overflow-y: scroll;">
    <input type="text"
           name="bankNumber"
           placeholder="Enter bankaccount"
           style="margin: 30px 40px 20px;"/>
    <button onclick="loadBankRecords()"
            class="btn btn-success">Go
    </button>


    <table class="ebank-searchresults table table-bordered"
           style="width: 95%;margin: 20px auto;">
        <thead>
            <tr>
                <th>Description</th>
                <th>From</th>
                <th>To</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="ebank-searchresults">

        </tbody>
    </table>
</div>
