<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <span class="windowTitle">E-Bank Locked</span>
    </div>


    <div style="height: 225px;">
        <div class="hero-unit" style="position: absolute;
                                      top: 26px;
                                      bottom: 4px;
                                      right: 4px;
                                      left: 4px;
                                      text-align: center">

            <strong>Enter decryption key</strong>

            <table style="margin: 20px auto;">
                <tr>
                    <td><button class="btn btn-info" data-bank-increase="1">/\</button></td>
                    <td><button class="btn btn-info" data-bank-increase="2">/\</button></td>
                    <td><button class="btn btn-info" data-bank-increase="3">/\</button></td>
                    <td><button class="btn btn-info" data-bank-increase="4">/\</button></td>
                </tr>
                <tr style="height: 50px;">
                    <td class="text-center" data-bank-digit="1"> 1 </td>
                    <td class="text-center" data-bank-digit="2"> 1 </td>
                    <td class="text-center" data-bank-digit="3"> 1 </td>
                    <td class="text-center" data-bank-digit="4"> 1 </td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger" data-bank-decrease="1">\/</button></td>
                    <td><button class="btn btn-danger" data-bank-decrease="2">\/</button></td>
                    <td><button class="btn btn-danger" data-bank-decrease="3">\/</button></td>
                    <td><button class="btn btn-danger" data-bank-decrease="4">\/</button></td>
                </tr>
            </table>

            <button type="button" class="btn btn-large btn-danger enterBankKey">ENTER</button>

        </div>
    </div>
</ul>