<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <a class="max">&#x25B2;</a>
        <a class="min">&#x25BC;</a>
        <span class="windowTitle">{{name}}</span>
        <div class="navbar-inner">
        </div>
    </div>
</ul>

<div class="inner-area">


</div>