<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <a class="max">&#x25B2;</a>
        <a class="min">&#x25BC;</a>
        <span class="windowTitle">{{name}}</span>
    </div>
</ul>

<div class="inner-area imageWindow" style="


">

    <img>

    <span class="clickBack"

    ><</span>

    <span class="clickNext"
    >></span>

    </div>
</div>