<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <span class="windowTitle">Metronet</span>
        <div class="navbar-inner"
             id="myTab">
            <a class="option"
               href="#home">Overview</a>
            <a class="option"
               href="#travelByNumber">Search travels by cardnumber</a>
            <a class="option"
               href="#travelByStation">Search travels by station</a>
            <a class="option"
               href="#station">Search station</a>
            <a class="option"
               href="#nearby">Search nearby</a>
        </div>
    </div>

</ul>

<div style="height: 90%;
            background-image: url('/terminal/assets/img/metronet.png?1');
            overflow-y: scroll;
            background-repeat: no-repeat;
            background-size: 230px;
            background-position: bottom left;
            background-position-x: 20px;"
     class="bg-blue">
    <br>

    <div class="tab-content">
        <div class="tab-pane active"
             id="home">
            <p>AN OVERVIEW OF STATIONS</p>
            <table class="table table-darkend table-bordered StationContainer"></table>
        </div>
        <div class="tab-pane"
             id="travelByNumber">
            <p>SEARCH TRAVELS TO SEARCH BY CARD NUMBER</p>
            <input type="text"
                   name="cardNumberInput"
                   placeholder="enter cardnumber">
            <button class="btn btn-primary"
                    onclick="searchTravelsByCardnumber()">Search
            </button>
            <table class="table table-darkend table-bordered travelSearchContainer"></table>
        </div>

        <div class="tab-pane"
             id="travelByStation">
            <p>SEARCH TRAVELS BY STATION</p>
            <input type="text"
                   name="metroNameSearchInput"
                   placeholder="enter station name">
            <button class="btn btn-primary"
                    onclick="searchTravelsByStation()">Search
            </button>
            <table class="table table-darkend table-bordered travelStationSearchContainer"></table>
        </div>


        <div class="tab-pane"
             id="station">
            <p>SEARCH STATIONS NEARBY AN ADDRESS</p>
            <input type="text"
                   name="metroAddressInput"
                   placeholder="enter address">
            <button class="btn btn-primary"
                    onclick="searchStationByAddress()">Search
            </button>
            <table class="table table-darkend table-bordered metroAddressSearchContainer"></table>
        </div>

        <div class="tab-pane"
             id="nearby">
            <p>SEARCH PLACES NEAR A STATION</p>
            <input type="text"
                   name="metroNameInput"
                   placeholder="enter station name">
            <button class="btn btn-primary"
                    onclick="searchNearStation()">Search
            </button>
            <table class="table table-darkend table-bordered nearMetroSearchContainer"></table>
        </div>
    </div>
</div>