<ul class="nav nav-tabs">
<div class="windowBar">
    <a class="opt">&#x25AC;</a>
    <a class="max">&#x25B2;</a>
    <a class="min">&#x25BC;</a>
        <span class="windowTitle">Note</span>
    </div>



</ul>
<div style="color: #222;
            padding: 10px;
            width: 100%;
            position: absolute;
            bottom: 0;
            top: 24px;
            overflow-y: scroll;" class="noteContent">

</div>