<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <span class="windowTitle">Phonebook</span>
    </div>
</ul>

<div style="height: 90%;
            overflow-y: scroll;
            padding: 0 30px;
            color: #111;">
    <div style="text-align: center;
                    width: 80px;
                    margin: 20px auto;">
        <input name='phone-address'
               type="text"
               placeholder="Seach Address"><br><br> Or<br><br>
        <input name='phone-name'
               type="text"
               placeholder="Company Name"><br><br>
        <button class="searchPhonebook btn btn-warning"
                onclick="searchPhonebook()">Search
        </button>
    </div>
    <br>
    <br>
    <div class="phonebook-searchresults"
         style="background-color: rgba(255,255,0,0.1);
                box-shadow: inset 5px 5px rgb(5, 56, 1);
                padding: 20px">
    </div>
</div>
