<ul class="nav nav-tabs">
    <div class="windowBar">
        <a class="opt">&#x25AC;</a>
        <span class="windowTitle">Terminal</span>
    </div>


    <div class="terminalBody" style="height: 410px; overflow: auto;">

    </div>
</ul>