a.icon{
    display: inline-block;

    height: 35px;
    width: 52px;
    margin: 50px 5px 20px;
    border: 1px solid rgba(0,0,0,0);
    float: left;

    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.1;
    font-size: 10px;
}
a.icon.black{
    color: #000000;
}
a.icon:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    position: relative;
    bottom: 38px;
    margin-bottom: -30px;
    background: url('../img/icons.gif') 0 -32px;
}
a.icon:hover,
a.icon:visited{
    background: none;
    outline: none;
}
a.icon:active,
a.icon:focus{
    background: none;
    border: 1px dotted #fff !important;
    outline: none;
    background: #00007b;
}
a.icon:active:before,
a.icon:focus:before {
    background: url('../img/icons_selected.gif') 0 -32px;
}


.icon[type="phonebook"]:before{
    background: url('../img/icons.gif') -32px 0;
}
.icon[type="phonebook"]:active:before,
.icon[type="phonebook"]:focus:before{
    background: url('../img/icons_selected.gif') -32px 0;
}
.icon[type="bank"]:before{
    background: url('../img/icons.gif') 0 0;
}
.icon[type="bank"]:active:before,
.icon[type="bank"]:focus:before{
    background: url('../img/icons_selected.gif') 0 0;
}
.icon[type="note"]:before{
    background: url('../img/icons.gif') -64px 0;
}
.icon[type="note"]:active:before,
.icon[type="note"]:focus:before{
    background: url('../img/icons_selected.gif') -64px 0;
}
.icon[type="drive"]:before{
    background: url('../img/icons.gif') -96px 0;
}
.icon[type="drive"]:active:before,
.icon[type="drive"]:focus:before{
    background: url('../img/icons_selected.gif') -96px 0;
}
.icon[type="phone"]:before{
    background: url('../img/icons.gif') -32px -32px;
}
.icon[type="phone"]:active:before,
.icon[type="phone"]:focus:before{
    background: url('../img/icons_selected.gif') -32px -32px;
}
.icon[type="computer"]:before{
    background: url('../img/icons.gif') -64px -32px;
}
.icon[type="computer"]:active:before,
.icon[type="computer"]:focus:before{
    background: url('../img/icons_selected.gif') -64px -32px;
}
.icon[type="floppy"]:before{
    background: url('../img/icons.gif') -96px -32px;
}
.icon[type="floppy"]:active:before,
.icon[type="floppy"]:focus:before{
    background: url('../img/icons_selected.gif') -96px -32px;
}
.icon[type="executable"]:before{
    background: url('../img/icons.gif')  0 -32px;
}
.icon[type="executable"]:active:before,
.icon[type="executable"]:focus:before{
    background: url('../img/icons_selected.gif')  0 -32px;
}
.icon[type="file"]:before{
    background: url('../img/icons.gif') -32px -64px;
}
.icon[type="file"]:active:before,
.icon[type="file"]:focus:before{
    background: url('../img/icons_selected.gif') -32px -64px;
}
.icon[type="image"]:before{
    background: url('../img/icons.gif') -64px -64px;
}
.icon[type="image"]:active:before,
.icon[type="image"]:focus:before{
    background: url('../img/icons_selected.gif') -64px -64px;
}
.icon[type="cmd"]:before{
    background: url('../img/icons.gif') -96px -64px;
}
.icon[type="cmd"]:active:before,
.icon[type="cmd"]:focus:before{
    background: url('../img/icons_selected.gif') -96px -64px;
}
.icon[type="encrypted"]:before{
    background: url('../img/icons.gif') 0 -96px;
}
.icon[type="encrypted"]:active:before,
.icon[type="encrypted"]:focus:before{
    background: url('../img/icons_selected.gif') 0 -96px;
}
.icon[type="cell0"]:before{
    background: url('../img/icons.gif') -32px -96px;
}
.icon[type="cell0"]:active:before,
.icon[type="cell0"]:focus:before{
    background: url('../img/icons_selected.gif') -32px -96px;
}
.icon[type="folder"]:before{
    background: url('../img/icons.gif') -64px -96px;
}
.icon[type="folder"]:active:before,
.icon[type="folder"]:focus:before{
    background: url('../img/icons_selected.gif') -64px -96px;
}
.icon[type="exit"]:before{
    background: url('../img/icons.gif') -96px -96px;
}
.icon[type="exit"]:active:before,
.icon[type="exit"]:focus:before{
    background: url('../img/icons_selected.gif') -96px -96px;
}
