::-webkit-scrollbar {
    height: 0px;
}

::-webkit-scrollbar-button {
    height: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #BBBBBB;
}

::-moz-selection {
    background: #fff;
    color: #111;
}

::selection {
    background: #fff;
    color: #111;
}

#desktop {
    width: 768px;
    height: 488px;
    overflow: hidden;

    background-color: #111;
    -webkit-transition: background-color 4s;
    -moz-transition: background-color 4s;
    -ms-transition: background-color 4s;
    -o-transition: background-color 4s;
    transition: background-color 4s;

    cursor: url('../img/cursor.gif') 0 0, auto;
}

#desktop a,
#desktop button {
    cursor: url('../img/handle.gif') 5 1, auto;
}

#desktop.loading a,
#desktop.loading button,
#desktop.loading {
    cursor: url('../img/wait.gif') 0 0, auto !important;
}

.preinput {
    margin-top: 60px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.preinput input {
    border: none;
    color: transparent;
    text-shadow: 0 0 0 #D14;
    margin-left: 20px;
    background-color: #222;
    text-align: right;
}
.preinput button{
    margin-left: 8px;
    background: #222;
}

.preinput input:focus {
    outline: none;
}

#desktop.ready {
    background-color: #000084;
    background-size: cover;
    background-image: url('../img/boot.png');
}

#desktop .preloader {
    top: 435px;
    left: 55px;
    position: absolute;
    width: 600px;
}

#desktop .preloader .progress {
    background: #00013C;
}

#desktop.booted {
    background-color: #018181;
    background-image: url('../img/bg.png');
    background-size: 730px;
    background-repeat: no-repeat;
    background-position-x: 25px;
}

.preface {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 755px;
    height: 488px;
    word-wrap: break-word;
}

.overlayWindow {
    z-index: 20;
    position: absolute;
    left: 5px;
    top: 25px;
    min-width: 300px;
    min-height: 180px;
    background-color: #fff;
    border: 6px solid #111;
}

.overlayWindow.bg-black {
    background-color: #111;
}

.overlayWindow.bg-blue {
    background-color: #000084;
}
.bg-green{
    background-color: #054400;
}
.overlayWindow:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #D1D2DB;
}

.overlayWindow.maximized {
    top: 20px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0;
    border: none;
}

.overlayWindow.maximized:before {
    display: none;
}

.overlayWindow .ui-resizable-e {
    z-index: 90;
    height: 100%;
    width: 2px;
    right: -4px;
    bottom: 2px;
    position: absolute;
    cursor: e-resize;
}

.overlayWindow .ui-resizable-s {
    z-index: 90;
    width: 100%;
    height: 2px;
    bottom: -4px;
    right: 2px;
    position: absolute;
    cursor: s-resize;
}

.overlayWindow .ui-resizable-se {
    z-index: 90;
    width: 4px;
    height: 4px;
    right: -4px;
    bottom: -4px;
    position: absolute;
    cursor: se-resize;
}

.ui-resizable-helper {
    border: 1px dotted #fff;
}

.windowBar {
    background-color: #fff;
    color: #111;
    position: relative;
    border-bottom: 2px solid #111;
}
.table-darkend td{
    background: rgba(0,0,0,0.5);
}
input[type="text"]{
    color: #000000;
    background-color: #424242;
    border: none;
}
input[type="text"]:focus {
    box-shadow: 10px 10px 0 #000000;
}

.overlayWindow a.option:first-letter {
    text-decoration: underline;
}

.windowBar a.option {
    display: inline-block;
    padding: 0 10px;
}

.overlayWindow .windowBar {
    text-align: center;
}

.windowBar .windowTitle {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #000084;
    border-bottom: 2px solid #111;
}

.windowBar .opt,
.windowBar .max,
.windowBar .min {
    width: 18px;
    height: 18px;
    top: 0;
    font-size: 13px;
    text-align: center;
    background-color: #C3C3C3;
    position: absolute;
}

.windowBar .opt {
    left: 0;
    font-size: 18px;
    line-height: 1.3;
    border-right: 2px solid #111;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #111;
}

.windowBar .max {
    right: 0;
    border-left: 2px solid #111;
    box-shadow: 2px 3px 0px #fff inset, -2px -2px 0px #898789 inset;
}

.windowBar .min {
    right: 20px;
    border-left: 2px solid #111;
    box-shadow: 2px 3px 0px #fff inset, -2px -2px 0px #898789 inset;
}

.windowBar a:hover {
    background: #111;
    text-decoration: none;
}

.cmd textarea {
    display: none;
}

.imageWindow {

    padding: 5px;
    background-color: #E2E2E2;
}

.imageWindow img {
    max-width: 570px;
    max-height: 355px;
    margin: 7px auto;
    display: block;
    border: 1px #bbb solid;
}

.imageWindow .clickBack,
.imageWindow .clickNext {
    left: 0;
    line-height: 1.3;
    border: 1px solid #545454;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #111;

    width: 20px;
    height: 24px;
    font-weight: bolder;
    box-shadow: 2px 3px 0px #fff inset,
    -2px -2px 0px #898789 inset;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: #C3C3C3;
    cursor: pointer;
}

.imageWindow .clickBack {
    margin-left: 42%;
}

.imageWindow .clickBack.disabled,
.imageWindow .clickNext.disabled {
    color: #808080;
    -webkit-text-fill-color: #888;
    box-shadow: -1px -2px 0px #fff inset, 1px 2px 0px #898789 inset;
    -webkit-text-stroke-color: #888;
    background-color: #DADADA;
    cursor: not-allowed;
}

td.negative{
    color: #D16;
}

#turnoff-message {
    display: block;
    position: absolute;
    top: 225px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #D14;
}

#phone_message_container{
    width: 100%;
}
#phone_message_container textarea{
    width: 100%;
    border: none;
    background-color: #731712;
    resize: none;
    text-align: center;
    height: 140px;
    padding: 10px;
    border-radius: 10px;
    margin: 7px auto;
}
#phone_message_container textarea:focus,
#phone_message_container textarea:active{
    border:none;
    stroke: none;
    outline: none;
}
.blink {
    background: #fff;
    width: 10px;
    height: 20px;
    color: #111;
    animation: blink 700ms infinite;
}

@keyframes blink {
    0% {
        background: #fff;
        color: #111;
    }
    30% {
        background: #fff;
        color: #111;
    }
    50% {
        background: #111;
        color: #fff;
    }
    80% {
        background: #111;
        color: #fff;
    }
    100% {
        background: #fff;
        color: #111;
    }
}