body {
    background: #FBFBFB;
}
#computer{
    background-image: url('../img/shell.jpg');
    width: 1467px;
    height: 943px;
    position: absolute;
    top: 0;
    background-size: cover;
}
.switch-label {
    position: absolute;
    z-index: 20;
    top: 160px;
    left: 1241px;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    background-size: cover;
    width: 60px;
    height: 41px;
    background-color: rgba(0,0,0,0);
    background-image: url('../img/button-off.png');
}
#switch:checked + .switch-label{
    background-image: url('../img/button-on.png');
}
.switch-label:before {
    display:none;
}
#frame{
    border-radius: 22px;
    padding: 5px 10px 10px 5px;
    border: none;
    z-index: 1;
    top: 160px;
    left: 155px;
    width: 768px;
    height: 488px;
    position: absolute;
}

#monitor{
    border-radius: 25px;
}